# Compiled Object files
*.slo
*.lo
*.o
*.obj

#subversion
.svn

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
cesm?/lnd/convert_mksrf/convert_mksrf
cesm?/lnd/paleo_mkraw/paleo_mkraw_cesm?
*.exe
*.out
*.app


# Created NetCDF files
cesm?/lnd/convert_mksrf/*.nc
cesm?/lnd/paleo_mkraw_cesm?/*.nc
