# Compiled Object files
*.slo
*.lo
*.o
*.obj

#subversion
.svn

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
convert_mksrf
paleo_mkraw_cesm?
*.exe
*.out
*.app
